.secondHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--bg-color-primary)60;
    font-size: 24px;
    color: #442d1d;
}
