.checkout{
    height: 100%;
    min-height: 100vh;
    background-color: #e8d1a7;
    padding: 20px 10px;
    color: #111;
}
.pageHead{
    display: flex;
    gap: 20px;
}
.pageHead h1{
    font-size: 24px;
    color: #442d1d;
    margin-bottom: 20px;
}