.details {
    border: 1px solid #442d1d;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.checkoutForm{
    max-width: 400px;
    margin: auto;
}
.details h2 {
    width: 100%;
}

.details p {
    flex: 1 1 200;
}

.formDetails {
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    gap: 20px;
}

.formDetails>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px
}
.formDetails .inputField,
.formDetails textarea {
    height: 56px;
    border: 1px solid #442d1d;
    border-radius: 50px;
    padding: 10px 20px
}

.submitButton {
    background: #fff;
    color: #442d1d;
    padding: 10px 20px;
    border: 1px solid #442d1d;
    border-radius: 50px;
    cursor: pointer;
    height: 56px;
    width: 100%;
}

.submitButton:hover {
    background: #442d1d;
    color: #fff;
}

.addtional {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: row !important;
}
.addtional input {
    width: 20px;
    height: 20px;
}
.addtional p {
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 600px) {
    .checkoutForm {
        max-width: 350px;
    }
    .formDetails label {
        font-size: 14px;
        font-weight: 500;
    }
    .formDetails div {
        width: 100%;
    }
    .formDetails .inputField {
        height: 46px;
    }

    .submitButton {
        height: 48px;
        padding: 10px;
    }
}