.adminCategoriesList{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.featuredImage {
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100px;
}
.card{
    display: flex;
    gap:10px;
    justify-content: space-between;
    align-items: center;
}
.cardContent{
    display: flex;
    gap: 20px;
    align-items: center;
}
.actions{
    display: flex;
    gap: 10px;
}
.actions .editbutton{
    padding: 2.5px 15px;
    border-radius: 20px;
    font-size: 0.875rem;
    font-weight: 500;
    border: 1px solid #442d1d;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}
.actions .delButton{
    padding: 2.5px 15px;
    border-radius: 20px;
    font-size: 0.875rem;
    font-weight: 500;
    border: 1px solid #442d1d;
    color: #f44336;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}
.actions .delButton:hover{
    background-color: #f44336;
    color: white;
}
.actions .editbutton:hover{
    background-color: #442d1d;
    color: white;
}