.backButton {
    padding: 10px;
    font-size: 20px;
    color: #442d1d;
    background-color:var(--bg-color-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border:1px solid #442d1d;
    border-radius: 100px;
    display: flex;
    justify-content: center;
  }
  
  .backButton:hover {
    background-color: #442d1d;
    color:#fff;
  }
  