@media only screen and (max-width: 600px) {
    .header{
        height: 250px;
    }
    .header::before{
        width: 100vw;
        height: 250px;
    }
    .categorey-item .featured-image{
        height: 60px;
        width: 60px;
    }
    .categorey-item h2{
        font-size: 16px;
    }
    }